.skills .levelDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px !important;
  max-width: 400px;
}
.skills .skillCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.skillCard:hover {
  transform: scale(1.05);
}
.skillCard p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}
.skillCard svg {
  font-size: 1.2em;
  color: var(--emphasis-color);
}
.skillCard span {
  border-radius: 20px;
  padding: 4px 10px;
  background-color: var(--tag-color);
  color: var(--emphasis-color);
}

.skillDescription {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  max-height: 0;
  text-align: justify;
  transition: max-width 0.3s ease-in, max-height 0.5s ease-in-out;
}

.descriptionToggled {
  position: relative;
  visibility: visible;
  opacity: 1;
  max-width: 500px;
  max-height: 500px;
}

@media screen and (min-width: 720px) {
  .skills {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 'header header';
    gap: 30px;
    align-items: flex-start;
  }
  .skills h2 {
    grid-area: header;
    width: 100%;
  }
  .skills .levelDiv {
    margin: 0 !important;
  }
  .skills .skillCard {
    margin: 0;
  }

  .extraTechDiv {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1020px) {
  .skills {
    grid-template-areas: 'header header header';
  }
}
