@import './base.css';
@import 'tailwindcss';

@theme {
  --font-display: 'Tangerine', cursive;
}

.tag {
  font-size: 0.9rem;
  color: white;
  padding: 3px 5px;
  margin: auto 4px;
  border-radius: 10px;
}

.tag-html5 {
  background-color: #f16425;
}

.tag-css3 {
  background-color: #0070ba;
}

.tag-javascript {
  background-color: #fede00;
}

.tag-tailwindcss {
  background-color: #00bcff;
}

.tag-nodejs {
  background-color: #8bc500;
}

.tag-typescript {
  background-color: #107dcb;
}

.tag-vuejs {
  background-color: #50b88b;
}

.tag-python {
  background-color: #09c882;
}

.tag-fastapi {
  background-color: #0b938c;
}

.tag-django {
  background-color: #0f3e2e;
}

.tag-mysql {
  background-color: #006189;
}

.tag-mongodb {
  background-color: #0a934f;
}

.tag-site {
  background-color: #c91515;
}

.tag-api {
  background-color: #10aa36;
}

.tag-AI {
  background-color: #ddc916;
}

.tag-agentic {
  background-color: #dd7616;
}

.tag-frontend {
  background-color: #4c1a9c;
}

.tag-backend {
  background-color: #155a15;
}

.tag-fullstack {
  background-color: #3b0ea5;
}

.tag-php {
  background-color: #727fac;
}

.tag-docker {
  background-color: #039cfc;
}

.tag-linux {
  background-color: #df4916;
}

.tag-n8n {
  background-color: #0f0f0f;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes beat {
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes border-movement {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
