.header {
  position: relative;
  width: 100%;
  padding: 80px 0 20px 10px;
  text-align: left;
  background-color: var(--header-color);
}
.header::before {
  content: '';
  position: absolute;
  top: 15%;
  left: 1%;
  width: 75%;
  max-width: 400px;
  height: 75%;
  max-height: 400px;
  background: var(--profilePicture) no-repeat center/100% fixed;
  pointer-events: none;
}
.header::after {
  content: '';
  position: absolute;
  top: 15%;
  left: 1%;
  width: 75%;
  max-width: 400px;
  height: 75%;
  max-height: 400px;
  background: var(--header-color);
  opacity: 0.85;
  mix-blend-mode: multiply;
  z-index: 1;
  pointer-events: none;
}
.header * {
  position: relative;
  z-index: 5;
}
.header h1 {
  margin: 15px 15px;
  font-size: 1.6em;
  text-align: left;
  color: #fff;
  transform: translateX(-50vw);
  animation: slide 0.7s ease-in-out 0.2s forwards;
}
.header h2 {
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  font-weight: 800;
  background-color: var(--primary-color);
  color: var(--text-color);
  transform: translateX(50vw);
  animation: slide 0.7s ease-in-out 0.2s forwards;
}
.header p {
  color: var(--text-color);
}
.header button {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  margin: 20px 0 20px 30px;
  width: fit-content;
  padding: 0.8em 1.3em;
  background: var(--link-button-color);
  font-weight: 800;
  color: black;
}
.header button:not(.toggleElement button):hover {
  filter: brightness(1.2);
  transform: scale(1.2);
}
.header button:hover svg {
  transform: translate(5px, -5px);
}

.titleText {
  display: block;
  font-size: 0.8em;
  color: var(--emphasis-color);
}

.mainText {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  padding: 0 10px;
}
.mainText > div {
  max-width: 400px;
  transform: translateX(50vw);
  animation: slide 0.7s ease-in-out 0.2s forwards;
}

.animatedText {
  font-size: 8em;
}
.animatedText:hover {
  color: var(--c-aquamarine-600);
  text-shadow: 0 0 8px var(--c-aquamarine-600);
  animation: pulse-shadow 5s ease-out infinite alternate;
}
.animatedText:hover + div p {
  color: var(--emphasis-color);
  text-shadow: 1px 1px 0 var(--emphasis-color);
}

.toggleElement {
  position: absolute;
  top: 96%;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.toggleElement button {
  box-shadow: none;
  border-radius: 45%;
  margin: 0;
  font-size: 0.8em;
  transform: rotate(-90deg);
  animation: ping 1.5s ease-in-out infinite alternate;
}
.toggleElement.toggled button {
  transform: rotate(90deg);
  animation: none;
}
.toggleElement button:hover {
  filter: brightness(1.2);
}

@keyframes pulse-shadow {
  to {
    text-shadow: 5px 5px 16px var(--c-aquamarine-600);
  }
}

@keyframes slide {
  to {
    transform: translateX(0);
  }
}

@keyframes ping {
  to {
    color: #fff;
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 600px) {
  button {
    font-size: 1em;
  }

  .header::before {
    top: 15%;
    left: 70%;
    max-height: none;
    background-position: right;
    background-size: 50%;
  }
  .header::after {
    top: 15%;
    left: 70%;
    opacity: 0.93;
    max-height: none;
  }
}

@media screen and (min-width: 720px) {
  .header {
    padding: 120px 0 60px 20px;
  }
  .header h1 {
    font-size: 2em;
  }

  .mainText {
    padding-left: 100px;
  }

  .toggleElement button {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1200px) {
  .header h1 {
    font-size: 2.5em;
  }

  .mainText {
    padding-left: 150px;
    font-size: 1.2em;
    margin: 1.2em 0;
  }

  .header button {
    font-size: 1.1em;
  }
}
