.projects h2 {
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}
.projects h2 svg {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 4px;
  padding-left: 4px;
}
.projects div:has(.sortBtn) {
  max-width: 30%;
  margin-bottom: 10px;
}

.sortBtn {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 8px;
  font-size: 0.4em;
  width: 60px;
  text-align: left;
}
.sortBtn svg {
  vertical-align: middle;
  margin-right: 5px;
}

.tagFilter ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 5px;
}
.tagFilter span {
  margin-right: 10px;
  color: #fff;
}

.projectLoadBtn {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 600;
  color: #000;
  background-color: var(--emphasis-color);
}
.projectLoadBtn:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid var(--emphasis-color);
}

@media screen and (min-width: 1200px) {
  .projects {
    max-width: unset !important;
  }

  /* :global evita hash de classes em css modules */
  .projects :global(.projectCard):nth-of-type(even) {
    margin-left: 50%;
  }
  .projects .sortBtn {
    font-size: 0.3em;
  }
  .projects .sortBtn svg {
    width: 12px;
    margin-right: 6px;
  }
}
