.projectCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 800px;
}
.projectCard h3 {
  font-weight: 900;
  color: var(--project-title-color);
}
.projectCard p {
  text-align: justify;
  margin-bottom: 5px;
}
.projectCard div {
  margin: 3px;
}
.projectCard ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.projectCard button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 4px 6px;
  margin-right: 10px;
  background-color: transparent;
}
.projectCard button:hover {
  transform: scale(1.1);
  border-color: var(--border-color);
}
.projectCard button svg {
  margin: 0 5px;
  vertical-align: middle;
}
.projectCard a {
  color: #fff;
}
.projectCard .viewProjectIcon {
  display: inline-block;
}
.projectCard .viewProjectIcon svg {
  vertical-align: baseline;
}

.viewProjectBtn .viewProjectIcon {
  transform: rotate(180deg);
}
