.projects h2 {
  justify-content: space-between;
  max-width: 800px;
}
.projects h2 svg {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 4px;
  padding-left: 4px;
}

.sortBtn {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 8px;
  font-size: 0.4em;
}
.sortBtn svg {
  margin-right: 5px;
  vertical-align: middle;
}

.projectLoadBtn {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 600;
  color: #000;
  background-color: var(--emphasis-color);
}
.projectLoadBtn:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid var(--emphasis-color);
}

@media screen and (min-width: 1200px) {
  .projects {
    max-width: unset !important;
  }
  .projects div:nth-of-type(even) {
    margin-left: 50%;
  }
}
