#root {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:visited {
  color: var(--link-color);
}

ul {
  list-style-type: none;
  list-style-position: inside;
}
