html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.5s;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-aquamarine-600: #06b6d4;
  --c-aquamarine-800: #00d9ff;
  --c-blue-400: #1e5fc0;
  --c-dark-blue-300: #374151;
  --c-dark-blue-700: #0f172a;
  --c-gray-200: #f3f4f6;
  --c-gray-500: #9ca3af;
  --c-gray-700: #1f2937;

  --nav-bar-color: #111a30c4;
  --header-color: #000;
  --primary-color: var(--c-dark-blue-700);
  --primary-transparent-color: #0f172ad6;
  --secondary-color: var(--c-gray-700);
  --secondary-transparent-color: #1f2937c0;
  --title-color: var(--c-gray-200);
  --project-title-color: var(--c-aquamarine-600);
  --text-color: var(--c-gray-500);
  --emphasis-color: var(--c-aquamarine-600);
  --tag-color: var(--c-dark-blue-300);
  --border-color: var(--c-aquamarine-600);
  --border-transparent-color: #06b5d449;
  --section-border-color: var(--c-dark-blue-300);
  --link-color: var(--c-aquamarine-600);
  --link-hover-color: var(--c-aquamarine-800);
  --link-button-color: var(--c-aquamarine-600);

  --color-python: #3776ab;
  --color-typescript: #3178c6;
  --color-mysql: #4479a1;
  --color-tailwindcss: #06b6d4;
  --color-langchain: #1c3c3c;
  --color-fastapi: #05998b;
  --color-react: #043cad;
  --color-mongodb: #47a248;
  --color-django: #092e20;
  --color-vuejs: #4fc08d;
  --color-php: #777bb4;
  --color-ai: #8a2be2;
  --color-agentic-ai: #4b0082;
  --color-fullstack: #ff4500;
  --color-frontend: #20b2aa;
  --color-backend: #483d8b;
  --color-n8n: #ff6c37;
  --color-html5: #f74e11;
  --color-docker: #2496ed;
  --color-css3: #0e96ff;
  --color-javascript: #f7df1e;
  --color-nodejs: #339933;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}
