* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.5s;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  max-width: 100vw;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-aquamarine-600: #06b6d4;
  --c-aquamarine-800: #00d9ff;
  --c-blue-400: #1e5fc0;
  --c-dark-blue-300: #374151;
  --c-dark-blue-700: #0f172a;
  --c-gray-200: #f3f4f6;
  --c-gray-500: #9ca3af;
  --c-gray-700: #1f2937;

  --nav-bar-color: #111a30c4;
  --header-color: #000;
  --primary-color: var(--c-dark-blue-700);
  --primary-transparent-color: #0f172ad6;
  --secondary-color: var(--c-gray-700);
  --secondary-transparent-color: #1f2937c0;
  --title-color: var(--c-gray-200);
  --project-title-color: var(--c-aquamarine-600);
  --text-color: var(--c-gray-500);
  --emphasis-color: var(--c-aquamarine-600);
  --tag-color: var(--c-dark-blue-300);
  --border-color: var(--c-aquamarine-600);
  --border-transparent-color: #06b5d449;
  --section-border-color: var(--c-dark-blue-300);
  --link-color: var(--c-aquamarine-600);
  --link-hover-color: var(--c-aquamarine-800);
  --link-button-color: var(--c-aquamarine-600);
}

body {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

a:visited {
  color: var(--link-color);
}

ul {
  list-style-type: none;
  list-style-position: inside;
}
